<div class="content">
<div class="b-page">
    <style>
        .email {
         height: 50px;
         background: #fc0; 
        }
       </style>
    <form action="/action_page.php">
        <label for="fname">Телефон:</label><br>
        <input type="text" id="fname" name="fname" value="+375441234887"><br>
        <label for="lname">Email:</label><br>
        <input type="text" class="email" id="lname" name="lname" href="mailto:silverhood@gmail.com" value="silverhood@gmail.com"><br><br>
        <input type="submit" value="Submit">
    </form> 
    
</div>
<iframe class="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.0818831580905!2d27.589182515418084!3d53.8591918800897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1c278ff073b%3A0xd53093e7e70fb315!2z0YPQuy4g0J_Qu9C10YXQsNC90L7QstCwIDgwLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1615302874002!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>